section {
  background-color: #149494;
}

.Video-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

p {

  font-weight: 500;
  color: #FFFFFF;

}

.conteudo {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


@media (max-width: 806px) {
  iframe {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 612px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 428px) {
  iframe {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 308px) {
  iframe {
    width: 250px;
    height: 180px;
  }
}